@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lilita One", sans-serif;
}

:root {
  --BLUE: #ade8f4;
  --DARKBLUE: #00b4d8;
  --DARKESTBLUE: #0096c7;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.wrapper {
  width: 50%;
  max-width: 50rem;
  height: 100%;
  border-radius: 15px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.wrapper.light {
  background: var(--DARKESTBLUE);
}

.wrapper.dark {
  background: #333333;
}

.formDiv {
  width: 100%;
}

.formDiv form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.formDiv form input.light {
  width: 100%;
  height: 2.5rem;
  padding: 0 1rem;
  border-radius: 5px;
  font-size: 1.2rem;
  border: none;
  outline: none;
  background: var(--DARKBLUE);
  color: #ffffff;
}

.formDiv form input.dark {
  width: 100%;
  height: 2.5rem;
  padding: 0 1rem;
  border-radius: 5px;
  font-size: 1.2rem;
  border: none;
  outline: none;
  background-color: #747474;
  color: white;
  &::placeholder {
    color: white;
  }
}

.formDiv form button.light {
  width: auto;
  height: 2.5rem;
  border: none;
  outline: none;
  background: var(--DARKBLUE);
  padding: 0 1rem;
  margin: 0 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.formDiv form button.dark {
  width: auto;
  height: 2.5rem;
  border: none;
  outline: none;
  background-color: #747474;
  color: white;
  padding: 0 1rem;
  margin: 0 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.wrapper .main-wether-info {
  margin: 2rem 0;
  text-align: center;
}

.wrapper .main-wether-info .temprature {
  font-size: 4rem;
}

.wrapper .sub-wether-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.wrapper .sub-wether-info div {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  border-radius: 10px;
  padding: 1rem;
}

.sub-wether-info.dark div {
  background-color: #747474;
}

.sub-wether-info.light div {
  background: var(--DARKBLUE);
}

.wrapper .sub-wether-info div h3 {
  margin: 0.5rem 0;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 90%;
    flex-direction: column;
    margin: 5rem 0;
  }
  .wrapper .sub-wether-info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}
